.App {
    text-align: center;
}

.rectangle {
    border: 1px solid #000;
    background-color: #f0f0f0;
    padding: 5px;
}

.small-text {
    list-style-type: none;
    font-size: 12px;
}

.all {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

li {
    text-align: left;
}

.list-left {
    text-align: left;
}
.custom-dropdown {
    width: 125px; /* Adjust the width as needed */
}
